@model IEnumerable<Billionaire>

@{
    Layout = "_Layout";
    var title = "READ Billionaire";
    ViewData["Title"] = title;
}
<script>
    const total = @Model.Count()
</script>

<h2>@title</h2>

<h3><a asp-action="Create" class="btn btn-md btn-primary">Create new billionaire</a></h3>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Born Year</th>
            <th>Company</th>
            <th>Nation</th>
            <th>Asset (billions dollars)</th>
            <th>Edit</th>
            <th>
                <form onsubmit="return confirm('Do you really want to remove all billionaires?')" asp-action="DeleteAll" method="post">
                    <button>Remove all</button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
        {
            <tr><td colspan="7" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model.Take(10))
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.BornYear</td>
                    <td>@p.Company</td>
                    <td>@p.Nations.FirstOrDefault(f => f.Value == p.NationID.ToString()).Text</td>
                    <td>@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:N0}", p.Asset)</td>
                    <td><a asp-action="Update" asp-route-id="@p.ID">Edit</a></td>
                    <td>
                        <form onsubmit="return confirm('Do you really want to remove this billionaire?')" asp-action="Delete" method="post" asp-route-id="@p.ID">
                            <button>Remove</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.Partial("Paging")